Source: justsnapshot
Section: utils
Priority: optional
Maintainer: MelianMiko <melianmiko@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-setuptools, python3-all
Standards-Version: 4.5.1
Homepage: https://melianmiko.ru/
Vcs-Git: https://github.com/melianmiko/JustSnapshot.git
Rules-Requires-Root: no

Package: justsnapshot
Architecture: all
Depends: ${misc:Depends}, python3.9
Description: Simple BTRFS snapshot managment tool.
 .
 This package provides core system and CLI tools.

